<%= form_for(@problem) do |f| %>
  <% if @problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
      <% @problem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Marca / Modelo" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Descripcion" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label "Presupuesto" %><br>
    <%= f.text_field :budget %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
