<p>
  <strong>Name:</strong>
  <%= @problem.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @problem.description %>
</p>

<p>
  <strong>Year:</strong>
  <%= @problem.year %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @problem.budget %>
</p>

<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
