<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @problem.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @problem.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @problem.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @problem.year %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @problem.budget %>
</p>

<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
