<!DOCTYPE html>
<html>
<head>
  <title>Ciclo</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "animate.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://use.fontawesome.com/5a7b971084.js"></script>
  <%= javascript_include_tag("animate.js") %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<p class="navbar-text pull-right">
<% if user_signed_in? %>
  <header>
    <a id="logo" class="animated pulse" href="index.html">
    </a>
    <div class="right">
  <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => 'headbutton'  %>
      <!-- <a href="#" class="headbutton" >Log out</a> -->
  <%= link_to current_user.email, edit_user_registration_path, :class => 'headbutton' %> 
      <!-- <a href="#" class="headbutton" ><strong><%= current_user.email %></strong>.</a> -->
    </div>
  </header>
<% else %>
  <header>
    <div class="right">
      <a href="#" class="headbutton" >About</a>
    <%= link_to "Log in", new_user_session_path, class: 'headbutton', onclick: "javascript:flip()".html_safe %>
      <!-- <a href="#" class="headbutton" onclick="flip()">Log in</a> -->
      <%= link_to "Sign up", new_user_registration_path, :class => 'headbutton'  %>
      <!-- <a href="#" class="headbutton" >Sign up</a> -->
    </div>
  </header>
<% end %>
</p>
<%= yield %>

</body>
</html>
